In [293]:
import pandas as pd

df = pd.read_excel("/Users/khuyentran/Downloads/distance.xlsx", header=2, index_col=0)
df

    1   2  3  4  5  6   7   8
1   0   3  4  6  8  9   8  10
2   3   0  5  4  8  6  12   9
3   4   5  0  2  2  3   5   7
4   6   4  2  0  3  2   5   4
5   8   8  2  3  0  2   2   4
6   9   6  3  2  2  0   3   2
7   8  12  5  5  2  3   0   2
8  10   9  7  4  4  2   2   0

In [294]:
df = df[df <=2]
df

     1    2    3    4    5    6    7    8
1  0.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2  NaN  0.0  NaN  NaN  NaN  NaN  NaN  NaN
3  NaN  NaN  0.0  2.0  2.0  NaN  NaN  NaN
4  NaN  NaN  2.0  0.0  NaN  2.0  NaN  NaN
5  NaN  NaN  2.0  NaN  0.0  2.0  2.0  NaN
6  NaN  NaN  NaN  2.0  2.0  0.0  NaN  2.0
7  NaN  NaN  NaN  NaN  2.0  NaN  0.0  2.0
8  NaN  NaN  NaN  NaN  NaN  2.0  2.0  0.0

In [295]:
df.replace([0,2],[1,1],inplace=True)

In [296]:
df.fillna(0,inplace=True)
df

     1    2    3    4    5    6    7    8
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
3  0.0  0.0  1.0  1.0  1.0  0.0  0.0  0.0
4  0.0  0.0  1.0  1.0  0.0  1.0  0.0  0.0
5  0.0  0.0  1.0  0.0  1.0  1.0  1.0  0.0
6  0.0  0.0  0.0  1.0  1.0  1.0  0.0  1.0
7  0.0  0.0  0.0  0.0  1.0  0.0  1.0  1.0
8  0.0  0.0  0.0  0.0  0.0  1.0  1.0  1.0

In [297]:
a = df.as_matrix()

/Users/khuyentran/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

In [298]:
import sys
!{sys.executable} -m pip install pulp

Requirement already satisfied: pulp in ./opt/anaconda3/lib/python3.7/site-packages (2.0)
Requirement already satisfied: pyparsing>=2.0.1 in ./opt/anaconda3/lib/python3.7/site-packages (from pulp) (2.4.2)

In [299]:
sys.executable

'/Users/khuyentran/opt/anaconda3/bin/python'

In [330]:
from pulp import *
# Create the 'prob' variable to contain the problem data
prob = LpProblem("Ambulance Allocation", LpMaximize)

In [331]:
from pulp import *

In [332]:
y = LpVariable.dicts("location", list(range(8)),lowBound = 0, cat='Binary')

In [336]:
#Population of each location
pop = [40, 30, 35, 20, 15, 50, 45, 60]

#There must be at least one ambulance
b = [0,0,0,0,0,0,0,0]

#Define the number of ambulance
n = 1

Objective

In [337]:
prob += lpSum(a[j,i]*pop[i]*y[j] for i in range(8) for j in range(8))

Constraint

In [338]:
for i in range(8):
    prob += lpSum([a[i,j] * y[j] for j in range(8)]) >= b[i]

In [339]:
prob += lpSum(y[i] for i in range(8)) == n

In [340]:
prob.solve()

1

In [308]:
for i in range(8):
    print('location {}: {}'.format(i+1,y[i].varValue))

location 1: 0.0
location 2: 0.0
location 3: 0.0
location 4: 0.0
location 5: 0.0
location 6: 0.0
location 7: 0.0
location 8: 1.0

In [309]:
pulp.value(prob.objective)

155.0

In [310]:
pulp.LpStatus[prob.status]

'Optimal'

In [311]:
prob.writeLP('prob.txt')

[location_0,
 location_1,
 location_2,
 location_3,
 location_4,
 location_5,
 location_6,
 location_7]

In [312]:
n1 = 2

In [313]:
prob1 = LpProblem("Ambulance Allocation", LpMaximize)

for i in range (8):
    prob1 += lpSum([a[i][j] * y[j]] for j in range(8)) >= b[i]

prob1 += lpSum(y[i] for i in range(8)) == n1

prob1 += lpSum(a[j,i]*pop[i]*y[j] for i in range(8) for j in range(8))

prob1.solve()

for i in range(8):
    print('location {}: {}'.format(i+1,y[i].varValue))

location 1: 0.0
location 2: 0.0
location 3: 0.0
location 4: 0.0
location 5: 1.0
location 6: 0.0
location 7: 0.0
location 8: 1.0

In [314]:
pulp.value(prob1.objective)

300.0

In [315]:
pulp.LpStatus[prob1.status]

'Optimal'

In [316]:
prob1.writeLP('prob1.txt')

[location_0,
 location_1,
 location_2,
 location_3,
 location_4,
 location_5,
 location_6,
 location_7]

In [317]:
n2 = 3

prob2 = LpProblem("Ambulance Allocation", LpMaximize)

for i in range(8):
    prob2 += lpSum([a[i][j] * y[j]] for j in range(8)) >= b[i]

prob2 += lpSum(y[i] for i in range(8)) == n2

prob2 += lpSum(a[j,i]*pop[i]*y[j] for i in range(8) for j in range(8))

prob2.solve()

for i in range(8):
    print('location {}: {}'.format(i+1,y[i].varValue))

location 1: 0.0
location 2: 0.0
location 3: 0.0
location 4: 0.0
location 5: 1.0
location 6: 1.0
location 7: 0.0
location 8: 1.0

In [318]:
pulp.value(prob2.objective)

445.0

In [319]:
pulp.LpStatus[prob2.status]

'Optimal'

In [320]:
prob2.writeLP('prob2.txt')

[location_0,
 location_1,
 location_2,
 location_3,
 location_4,
 location_5,
 location_6,
 location_7]

In [321]:
n3 = 4

prob3 = LpProblem("Ambulance Allocation", LpMaximize)

for i in range(8):
    prob3 += lpSum([a[i][j] * y[j]] for j in range(8)) >= b[i]

prob3 += lpSum(y[i] for i in range(8)) == n3

prob3 += lpSum(a[j,i]*pop[i]*y[j] for i in range(8) for j in range(8))

prob3.solve()

for i in range(8):
    print('location {}: {}'.format(i+1,y[i].varValue))

location 1: 0.0
location 2: 0.0
location 3: 0.0
location 4: 0.0
location 5: 1.0
location 6: 1.0
location 7: 1.0
location 8: 1.0

In [322]:
pulp.value(prob3.objective)

565.0

In [323]:
pulp.LpStatus[prob3.status]

'Optimal'

In [324]:
prob3.writeLP('prob3.txt')

[location_0,
 location_1,
 location_2,
 location_3,
 location_4,
 location_5,
 location_6,
 location_7]